<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated yawlnet -->
      <package
            uri="http://compute.dtu.dk/mbse/groupdpetrinet"
            class="yawlnet.yawltypes.YawltypesPackage"
            genModel="model/yawlnet.genmodel"/>
   </extension>

	<extension
   id="dk.dtu.mbse.groupd.yawl.yawlnet"
   name="YAWL Nets"
   point="org.pnml.tools.epnk.pntd">
   <type
      class="yawlnet.yawltypes.impl.YAWLnetImpl"
      description="Text explaining what this net type is" />
	</extension>
	
	<extension
	id="dk.dtu.mbse.groupg.yawl.graphics"
	name="Signal event net graphical extensions"
	point="org.pnml.tools.epnk.diagram.graphics">
	<graphicsextension
	class="dk.dtu.mbse.groupg.yawl.graphics.figures.YAWLGraphics"
	description="Special graphics for ... signal event nets">
	</graphicsextension>
	</extension>
</plugin>
