<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Tut5 -->
      <package
            uri="http://compute.dtu.dk/mbse/groupdpetrinet"
            class="yawl.yawltypes.yawltypesPackage"
            genModel="model/Tut5.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated yawl -->
      <package
            uri="http://compute.dtu.dk/mbse/groupdpetrinet"
            class="yawltypes.YawltypesPackage"
            genModel="model/yawl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated yawlnet -->
      <package
            uri="http://compute.dtu.dk/mbse/groupdpetrinet"
            class="yawlnet.yawltypes.YawltypesPackage"
            genModel="model/yawlnet.genmodel"/>
   </extension>

</plugin>
